<%- include('components/header') %>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light">PhotoServe</h1>
        <p class="lead text-light">Great Photos and Videos. Just for You</p>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">PhotoServe</h2>
    <p>Glorp</p>
  </div>
</section>




<%- include('components/footer') %>

