<%- include('components/header') %>



    <h1><%= profile.name %></h1>
    <% if(isRoot){ %>
      <button class="btn btn-primary">Edit Profile</button>
      <% } %>



          <p class="subtitle is-6">@<%= profile.username %></p>




<%- include('components/footer') %>