<%- include('components/header') %>

<form action="/upload" method="POST">
    <input type="file" class="btn btn-primary" name="image" id="image">


<button class="btn btn-primary" type="submit">Upload</button>
<script src="/js/upload.js"></script>

</form>



<%- include('components/footer') %>